body {
  font-family: Helvetica, sans-serif;
  font-size: 22px;
  color: seashell;
  background-color: black;
  opacity: 0.9;
  text-align: center;
  margin: 0;
  padding: 0;
}

header {
  border-bottom: 1px solid seashell;
  position: fixed;
  z-index: 5;
  overflow: hidden;
  background-color: black;
  top: 0;
  width: 100%;
  padding: 0;
  margin: 0;
  height: 69px;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav img {
  width: auto;
  height: 50px;
  margin-left: 10px;
}

nav li {
  display: inline;
  text-decoration: underline;
}
nav a {
  color: seashell;
}
main {
  display: flex;
  justify-content: center;
}
.jumbotron {
  position: absolute;
  top: 70px;
  height: 700px;
  width: 1200px;
  background-image: url(img-mission-background.webp);
  display: flex;
  align-items: center;
  justify-content: center;
}
.container {
  display: flex;
  min-width: 1200px;
  height: auto;
  background-color: black;
  justify-content: center;
  flex-direction: column;
}
