body {
  font-family: Helvetica, sans-serif;
  font-size: 22px;
  color: seashell;
  background-color: black;
  opacity: 0.9;
  text-align: center;
  margin: 0;
  padding: 0;
}

header {
  border-bottom: 1px solid seashell;
  position: fixed;
  z-index: 5;
  overflow: hidden;
  background-color: black;
  top: 0;
  width: 100%;
  padding: 0;
  margin: 0;
  height: 69px;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav img {
  width: auto;
  height: 50px;
  margin-left: 10px;
}

nav li {
  display: inline;
  text-decoration: underline;
}
nav a {
  color: seashell;
}
main {
  display: flex;
  justify-content: center;
  flex-shrink: 2;
}
.jumbotron {
  background-image: url(images/img-mission-background.webp);
  position: relative;
  top: 70px;
  height: 700px;
  width: 1200px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.container h2 {
  margin-bottom: 0;
}
.container h4 {
  margin-top: 10px;
}
main .container {
  display: flex;
  height: auto;
  width: 1200px;
  background-color: black;
  justify-content: center;
  align-content: center;
  flex-direction: column;
}
section {
  position: relative;
  top: 70px;
  max-width: 1000px;
  margin: auto;
}
section .box {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
figure {
  margin: auto;
}
figcaption h4 {
  margin-top: 10px;
}
figure img {
  height: 200px;
  width: 300px;
}

.locations {
  background-image: url(images/img-locations-background.jpg);
  height: 500px;
  max-width: 1200px;
  margin: auto;
}
.locations article {
  display: flex;
  justify-content: space-around;
}
.locations .box {
  display: flex;
  flex-direction: column;
  background-color: black;
  opacity: 1;
  width: 300px;
}
